p {
    margin: 0;
}

ul:not(.menu) {
    list-style: none;
    margin: 0;
}

.li-item {
    background-color: #D8D8D8;
    margin-bottom: 20px;
    padding: 10px;
}

.list {
    background-color: white;
    margin-left: 20px;
}

.label {
    font-weight: bold;
}

.filters {
    width: 250px;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    padding: 10px;
}

.filters .sep {
    margin-bottom: 5px;
}

.filters .flabel {
    font-size: 10pt;
    font-weight: bold;
}

.filters .filterItem {
    width: 150px;
    float: right;
}

.filters .filterItem.smaller {
    width: 146px;
}
#listHeader {
    display: inline-table;
}


.projectSpecs {
    font-family: Verdana;
    padding: 5px;
    float: right;
    background-color: #D8D8D8;
    margin-bottom : 15px;
}
