body {
    font-family: Verdana;
    width: 1000px;
    margin: 20px auto 0 auto;
}

p {
    padding: 0;
    margin: 0;
}

h1{
    float: right;
    font-family: Verdana;
}

textarea{
    width: 167px;
}

table {
    padding: 10px;
    width: 500px;
    text-align: left;
}

th, td {
    width: auto;
}

.page-host form select {
   margin: 7px 0px 7px 0px;
   width: 173px;
}

.page-host form input {
 margin: 5px 0px 5px 0px;
}

.page-host form label {
 width: 145px;
 float: left;
 margin: 5px 0px 5px 0px;
}

.page-host form button {
 padding: 5px;
 margin: 10px 0px 10px 0px;
 font-family: verdana;
 font-size: 13px;
}

.page-host form p {
   width: 145px;
}

select#selectperson {
   margin: 24px 0px 5px 0px;
}

.platformdouble {
    color: red;
}

.btn {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: #a1a1a1;
    margin-top: -50px;
    margin-left: 20px;    
}